a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
ul, li{
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
@import 
    './variables/color', 
    './header',
    './cdn/icon.scss';



