$bg-primary: #865DFF;
$bg-secondary: #F5DF99;
$bg-light: #FEFCF3;
$bg-dark: #191825;
$bg-danger: #FF4A4A;
$bg-success: #38E54D;
$bg-warning: #FFEA20;

.bg-primary {
    background-color: $bg-primary !important;
}
.bg-secondary {
    background-color: $bg-secondary !important;
}
.bg-light {
    background-color: $bg-light !important;
}
.bg-dark {
    background-color: $bg-dark !important;
}
.bg-danger {
    background-color: $bg-danger !important;
}
.bg-warning {
    background-color: $bg-warning !important;
}